* {

    margin: 0px;

    padding: 0px;

    box-sizing: border-box;

}



:root {

    --cor-principal: #38383F;

    --cor-destaque: #FF5757;

}



body {

    font-family: "Roboto", sans-serif;

}



a {

    text-decoration: none;

}



ul {

    list-style: none;

}



.container {

    max-width: 1400px;

    width: 100%;

    margin: 0 auto;

    padding: 0px 20px;

}





#imgs-imovel-carousel {

    background: #000 !important;

    /* max-width: 1200px; */

    width: 100%;

    margin: 0 auto;

}


.carousel-item img {

    height: 430px;

    object-fit: contain;

}



@media screen and (max-width:425px) {

    .carousel-item img {

        height: 250px;

    }



}



@media screen and (max-width:425px) {

    .carousel-item img {

        height: 230px;

    }



}





/* price-container */



.price-container {

    background: var(--cor-principal);

    padding: 20px 0px;

    color: #fff;

}



.price-container .container {

    display: flex;

    align-items: center;

    gap: 40px;

}





.title-price p {

    display: flex;

    flex-direction: column;

    width: max-content;
    color: #FFF;

}



.title-price p:after {

    content: '';

    width: 100%;

    height: 3px;

    background: linear-gradient(90deg, #FF5757, 55%, #fff 45%);

    margin-top: 5px;



}


.title-price h1 {

    font-weight: 400;

    height: 30px;

    margin-bottom: 27px;

    font-size: 24px;
    line-height: initial;

}



.title-price h3 {

    margin-top: 22px;

    font-size: 25px;

    font-weight: 400;

}



.detalhes-icons {

    display: flex;

    gap: 40px;

    flex-wrap: wrap;
}



.detalhe-item {

    display: flex;

    gap: 10px;

    flex-direction: column;

    align-items: center;

}



.detalhe-item p:nth-child(1) {

    display: flex;

    gap: 5px;

    color: var(--cor-destaque);

    font-size: 22px;

    align-items: center;

}

.detalhe-item i {
    color: var(--cor-destaque) !important;
}


.detalhe-item p:nth-child(2) {

    color: #FFF;

}


@media screen and (max-width:768px) {

    .price-container .container {

        align-items: start;

        gap: 15px;

        flex-direction: column;

    }

}



@media screen and (max-width:425px) {

    .detalhes-icons {

        gap: 20px;

        flex-wrap: wrap;

    }



    .detalhe-item {

        flex-direction: row;

    }



    .detalhe-item p:nth-child(1) {

        font-size: 20px;

    }



}





/**/







.info-block {

    border-bottom: 1px solid #EAEAEA;

    padding-bottom: 50px;

}



.txt-class {

    display: flex;

    flex-direction: column;

    gap: 50px;

}



.informacoes-imoveis .container {

    display: flex;

    gap: 30px;

    padding: 70px 20px;



}

.video-descricao-block {
    max-width: 100%;
    width: 100%;
    display: flex;

}

.video-descricao-block iframe {
    max-width: 100% !important;
    width: 100%;
}

@media screen and (max-width:500px) {
    .video-descricao-block iframe {
        height: 300px;
    }

}





.title-info-imovel {

    margin-bottom: 20px;

}



.sobre-imovel p {

    line-height: 2;



}



.detalhe-lista {

    display: flex;

    gap: 20px;

    flex-wrap: wrap;

}

.detalhe-lista li {
    width: 284px;

}



.detalhe-lista p {

    display: flex;

    gap: 10px;

    width: max-content;

    align-items: center;

}





.detalhe-lista p i {

    color: #2196F3;

}





.localizacao-lista {

    display: flex;

    gap: 20px;

    flex-wrap: wrap;

    margin-top: 50px;



}



.localizacao-lista p {

    display: flex;

    gap: 10px;

    width: max-content;

}





.localizacao-lista p i {

    color: #FF5757;

}



.localizacao-detalhes-imovel p {

    display: flex;

    gap: 5px;

    width: max-content;

    margin-top: 10px;

    align-items: center;

}



.localizacao-detalhes-imovel i {

    color: var(--cor-destaque);

    width: 22px;

}



.mapa {

    max-width: 100%;

    width: 100%;





}



.mapa iframe {

    width: 100%;

}





@media screen and (max-width:768px) {

    .informacoes-imoveis .container {

        flex-direction: column;

    }

}







/*contato-lateral*/



.info-corretor-container {

    background: var(--cor-principal);

    padding: 20px;

    color: #fff;

    border-radius: 4px;


}

.info-corretor-container h3, .info-corretor-container p {
    text-align: center;
    color: #FFF;
}



.info-corretor {

    display: flex;

    align-items: center;

    gap: 20px;

    margin-top: 20px;

    flex-direction: column;



}


 div.info-corretor-container > div > div{
    width: 100%;
 }

.info-corretor img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    align-self: start;
    margin: 0 auto;
    border: 3px solid;
}



.btn-contatos-corretor {


    display: flex;

    flex-direction: column;

    gap: 10px;

    max-width: 270px;

    width: 100%;

    margin: 15px auto 0px;


}



.btn-contatos-corretor a {

    padding: 12px 5px;

    display: flex;
    



    justify-content: center;

    align-items: center;

    gap: 20px;

    border-radius: 4px;

}





.btn-contato-whatsapp {

    background: #12aa4a;

    color: #fff !important;

    transition: 0.2s;

}

.btn-contato-whatsapp i {

    color: #fff !important;


}



.btn-contato-whatsapp:hover {

    background: #25D366;

    color: #fff;

    transition: 0.5s;

}





.btn-contato-telefone {

    /* border: 1px solid #058BD7; */

    background: #058BD7;
    color: #FFF;

    transition: 0.2s;

}


.btn-contato-telefone:hover {

    background: #20a9f7;

    color: #fff;

    transition: 0.2s;

}



.fale-conosco {

    padding: 20px;
    border: 1px solid #c7c7c7;

    background: #F3F3F3;

    margin-top: 10px;

    border-radius: 4px;

}



.form-fale-conosco {

    margin-top: 15px;

    display: flex;

    flex-direction: column;

    gap: 10px;



}

.informacoes-imoveis .desc_frmemi {
    background: #F3F3F3;
    border: 1px solid #f3f3f3;

    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.informacoes-imoveis .desc_frmemi input, .informacoes-imoveis .desc_frmemi textarea {

    border-radius: 4px;

    border: 1px solid #b5b5b7;

    padding: 10px 10px;
	line-height: 1.2;

    margin: 5px 0;
    width: 100%;

}

.informacoes-imoveis .form-proposta{
    width: 100%;
}

.informacoes-imoveis #btnenviar4 {
    background: var(--cor-principal);
    color: #fff;
    border-radius: 4px;
    padding: 15px 18px;
	border:0px;


}


.informacoes-imoveis #btnenviar4:hover {
    background: #000 !important;
    transition: 0.3s;

}


.form-fale-conosco input {

    width: 100%;

    height: 40px;

    padding: 5px 15px;

    border-radius: 4px;

    border: 1px solid #b5b5b7;

}



.form-fale-conosco textarea {

    height: 120px;

    padding: 5px 15px;
     border-color: #b5b5b7;
	 line-height: 1.3;



}



.codigo-form {

    display: flex;

    align-items: center;

}





.codigo-form p {

    width: 270px;

}



.form-fale-conosco button {

    height: 40px;

    background: var(--cor-principal);

    border: none;

    color: #fff;

    border-radius: 4px;
    transition: 0.3s;

}

.form-fale-conosco button:hover {
    background: #000 !important;
    transition: 0.3s;
}






@media screen and (max-width:768px) {

    .btn-contatos-corretor {

        flex-direction: row;

        flex-wrap: wrap;

    }



    .btn-contatos-corretor a {

        width: 100%;

    }



}





@media screen and (max-width:425px) {





    .corretor-contato {

        min-width: initial;

    }

}





/*imoveis-relacionados*/



.imoveis-relacionados {

    background: #F8F8F8;

}



.imoveis-relacionados {

    padding: 5px 0px 60px;

}





.title-imoveis-relacionados {

    text-align: center;

    font-size: 40px;

    margin-top: 50px;

    display: flex;

    justify-content: center;

    flex-direction: column;





}



.title-imoveis-relacionados:after {

    content: '';

    width: 100%;

    height: 3px;

    width: 40%;

    margin: 0 auto;

    background: linear-gradient(90deg, #FF5757, 55%, #fff 45%);



}





.imoveis-relacionados-cards {

    margin-top: 50px;

    padding: 10px 0px;

}



.imoveis-relacionados-cards .owl-item {

    padding: 10px !important;

}



.card-imovel-relacionado {

    max-width: 400px;

    width: 100%;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    border-radius: 10px;

    display: block;

    transition: 0.3s;

    margin: 0 auto;



}



.card-imovel-relacionado:hover {

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    transition: 0.3s;

}



.card-imovel-info {

    padding: 20px;

    color: #000;

}



.card-imovel-relacionado img {

    width: 100%;

    height: 250px;

    object-fit: cover;

    border-top-left-radius: 10px;

    border-top-right-radius: 10px;

}



.card-imovel-info h2 {

    display: flex;

    justify-content: space-between;

    font-size: 22px;

    align-items: center;



}



.card-imovel-info h2 span {

    font-size: 17px;

    color: #7D7D84;

    font-weight: 500;

}



.descricao-card {

    margin: 15px 0px;

    border-bottom: 1px solid #dbdbdb;

    padding-bottom: 16px;

    line-height: 1.5;

}



.preco-imovel {

    font-size: 18px;

    font-weight: bold;

}





.imoveis-relacionados-cards .owl-nav button {

    background: #c8c8c8b5 !important;

}



.imoveis-relacionados-cards .owl-prev {

    position: absolute;

    left: -17px;

    top: 50%;

}



.imoveis-relacionados-cards .owl-next {

    position: absolute;

    right: -17px;

    top: 50%;

}



.video-banner-top {
    display: flex;
    height: 430px;
    align-items: center;

}

@media screen and (max-width:500px) {
    .video-banner-top iframe {
        width: 100%;
        height: initial !important;
    }



}


@media screen and (max-width: 425px) {
    .video-banner-top {
        height: 230px !important;
    }
}


.imoveis-relacionados .outrosimoveis {
    width: 100%;
    background-color: #f8f8f8;

}

.imoveis-relacionados .content__title {
    display: none;
}



.msg-container svg {
    max-width: 90%;
    width: 100%;
    height: 209px;
    margin: 0 auto;
    display: block;
}

.swal2-popup .container-msg {
    justify-content: center !important;
}

.swal2-popup {
    height: 350px !important;
}

.msg-container h4 {
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
}